
.navbar{
  
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  float: right;

}
.navbar ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
    display:flex;
    gap: 2rem;
   
  
}
.navbar li.active{
    background-color: #395C64;
    padding: 8px;
    justify-content: flex-end;
   
    
}
.navbar li:hover{
    background-color:#C8C8C8 ;
}
body{
    background-color:#C8C8C8;
}
/* .samplepicture{

    


} */




img {
   width: 65%;
   height: 20%;
   
   /* border-radius:98% 0% 0% 100% / 0% 98% 98% 26%  ; */
   /* border-bottom-left-radius: 30%;
   border-bottom-right-radius:30px;
   border-top-right-radius:30px;
   border-top-left-radius:30px; */
 
   
} 
/* .samplepicture{
    width:700px;
    
}
/* .main-container{ */
.para{
 font-size: smaller;

}
.box2{
    margin-bottom: 30%;


}
.sample{
    background-color: #FFC901;
    width:90%;
    height: 120vh;
    
   
}
.untitled{
 width: 40%;
height:60% ;
border-radius: 50px 364px 50px 50px / 25px 150px 25px 25px;
float: left;





}

